/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#calendar-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
#calendar-btn-add-event  {
  height: 37.5px;
}

.calendar-box-add-event-wrapper {
  display: block;
}

.form-control {
  display: block;
  float: left;
  max-width: 50%;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-text-area {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: .375rem .75rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.event_top_left {
  width: 50%;
  float: left;
}

.event_top_right {
  width: 50%;
  float: right;
  text-align: right;
}

.fc-toolbar {
  width: 100%;
  display: inline-flex;
}

#calendar-box-add-eventheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.calendar-btn-add-nodification {
  width: 100%;
  display: table;
}